div.relative {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  
  width: 20rem;
  height: 18rem;
  margin: 0 auto 10px auto;
  border: 5px solid #0d0e0d;
} 

div.absolute {
  margin: 6px;
  height: 3rem;
  background-color: rgb(29, 83, 230);
}